__pycache__
*.egg-info
/.coverage
/.coverage.*
/dist
/build
docs/build
docs/source/_autosummary
examples/onion_example_files
examples/ex1_gaussian_states/ex1_data1.npy
test/__pycache__
src/tropea_clustering/__pycache__
src/tropea_clustering/_internal/__pycache__
src/tropea_clustering/_internal/onion_old/__pycache__
src/tropea_clustering/_internal/onion_smooth/__pycache__
src/tropea_clustering.egg-info
test/__pycache__

.mypy_cache
.pytest_cache
.ruff_cache
